/* Header */
.primary-header {
  --max-width: var(--container-max-width);
  --padding: var(--container-padding);
  width: min(var(--max-width), 100% - ( var(--padding) * 2) );
  margin-inline: auto;

  background-color: var(--clr-secondary-400);
  border-radius: 0.5rem;
  margin-top: var(--size--2);
  position: fixed;
  top: 0;
  z-index: 9;
}

.primary-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--size--1) var(--size-2);
  gap: var(--size--2);
}

.primary-nav__list {
  display: flex;
  list-style-type: none;
  gap: var(--size-0);
  justify-content: center;
}

.primary-nav__list a {
  text-decoration: none;
  color: var(--clr-neutral-000);
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--size--1);
  
  position: relative;
  display: inline-block;
}

.primary-nav__list a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px; 
  width: 0; 
  background-color: var(--clr-neutral-000);
  transition: width 0.3s ease-in-out;
}

.primary-nav__list a:is(:hover, :focus)::after {
  width: 100%;
}

.primary-header .social-nav {
  display: none;
}

@media (max-width: 520px) {
  .primary-header {
    width: 100%;
    left: 0;
    margin: 0;
    border-radius: 0;
  }
  .primary-header__inner {
    display: block;
    text-align: center;
  }
  .primary-header__nav-list {
    justify-content: center;
  }
}

@media (min-width: 700px) {
  .primary-header .social-nav {
    display: block;
  }
}

/* Buttons */
:root {
  --btn-transition-duration: 1s;
  --btn-bg-color-transition: background-color var(--btn-transition-duration);
}

.btn {
  display: inline-block;
  border: none;
  padding: 0.4em 1em;
  color: white;
  border-radius: 100rem;
  text-decoration: none;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--clr-primary-400);
  transition: var(--btn-bg-color-transition);
}
.btn-primary:is(:hover, :focus) {
  background-color: var(--clr-primary-500);
  transition: var(--btn-bg-color-transition);
}

.btn-secondary {
  background-color: var(--clr-secondary-400);
}

/* Forms */
.form {
  margin-inline: auto;
  width: 34rem;
  max-width: 100%;
}

.form > * {
  display: block;
}

.form input,
.form select,
.form textarea {
  width: 100%;
  border: 1px solid var(--clr-neutral-100);
  background-color: var(--clr-neutral-100);
  padding: 0.5rem var(--size--2);
  border-radius: 0.5rem;
  color: var(--clr-primary-400);
  text-align: center;
}

.form textarea {
  height: 10rem;
}

.form *::placeholder {
  color: var(--clr-primary-400);
  text-align: center;
}

.form__title {
  margin-bottom: var(--size-2);
}

.form__submit {
  margin-inline: auto;
}

/* Footer */
.site-footer {
  background: var(--clr-secondary-400);
}

.site-footer__inner {
  --flow-spacer: var(--size--1);
  padding: var(--size-0) var(--size-2);
}

/* Social Links & Icons */
.social-nav__list {
  display: flex;
  list-style-type: none;
  gap: var(--size--2);
  justify-content: center;
}

.social-nav__list-item a svg {
  transition: transform 0.3s ease-in-out;
}

.social-nav__list-item a:hover svg {
  transform: scale(1.2); 
  transition: transform 0.3s ease-in-out;
}

/* Tables */
table {
  width: 100%;
  max-width: 35rem;
  margin: auto;
  border-collapse: collapse;
  text-align: center;
}
th, td {
  padding: var(--size--2);
  border: 2px solid var(--clr-neutral-000)
}
th {
  font-weight: bold;
  text-decoration: underline;
}
